#contact {
  text-align: center;
  background-color: #463E46;
  font-family: Arial;
  color: #D1E6EF;
  box-shadow: 5px 5px 5px grey;
}

#contact img {
  border-radius: 50%;
  height: 250px;
}

h4 {
	margin-left: 20px;
	font-family: Arial;
	font-size: 25px;
}

p {
	font-family: Arial;
	line-height: 25px;
	padding: 0px 10px 0px 10px;
	margin-left: 25px;
}

li {
	font-family: Arial;
	font-size: 22px;
	line-height: 25px;
	padding: 0px 10px 0px 10px;
	margin-left: 20px;	
}

.details {
	color: #463E46;
	font-size: 18px;
	margin-top: 20px;
	background-color: #D1E6EF;
	box-shadow: 5px 5px 5px grey;
}

button {
  margin: auto;
  background-color: #463E46;
  color:#D1E6EF;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
 button a {
	color:#D1E6EF;
 }
#dwnld {
	text-align:center;
}
button:hover {
  background-color:#D1E6EF;
  color: #463E46;

}

button:hover a {
	color: #463E46;
}
